<h1>Schedule a Tweet</h1>

<%= form_with model: @tweet do |f| %>
    <div class="mb-3">
        <%= f.label :twitter_account_id, "Twitter Account Id" %>
        <%=
            f.collection_select :twitter_account_id,
            Current.user.twitter_accounts,
            :id,
            :username,
            {},
            {class: "form-control"}
        %>
        <%= link_to "Connect to a Twitter account", "/auth/twitter" %>
    </div>

    <div class="mb-3">
        <%= f.label :body, "Tweet" %>
        <%= f.text_area :body, class: "form-control" %>
    </div>

    <div class="mb-3">
        <%= f.label :publish_at %>
        <div class="form-control">
            <%= f.datetime_select :publish_at %>
        </div>
    </div>

    <%= f.button "Schedule", class: "btn btn-primary" %>
<% end %>