<h1>Change your password</h1>

<%= form_with model: Current.user, url: signup_path do |f| %>
    <%= render partial: "shared/form_errors", f: f %>
    <div class="mb-3">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", placeholder: "123456" %>
    </div>
    <div class="mb-3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "123456" %>
    </div>
    <div class="mb-3">
        <%= f.submit "Change password", disable_with: 'Updating...', class: "btn btn-primary" %>
    </div>
<% end %>